# Overview of Python data types

### 1 Numeric Data Types in Python

In [4]:
num = 9
string = 'ram'
complex = 2+5j

print(f"{num} is of {type(num)}")
print(f"{string} is of {type(string)}")
print(f"{complex} is of {type(complex)}")

9 is of <class 'int'>
ram is of <class 'str'>
(2+5j) is of <class 'complex'>

### 2. Sequence Data Types in Python

In [5]:
# Strings in Python


name = "Ram"
template = "My name is "
template2 = "How are you doing?"
print(f"{name} is {type(name)}")

# slicing and formatting

print(f"first character ",name[0])
print(f"last character ",name[-1])

# concatenation and formatting
print(template + name)

print(f"Hello everybody!!! {template} {name} {template2}")

Ram is <class 'str'>
first character  R
last character  m
My name is Ram
Hello everybody!!! My name is  Ram How are you doing?

In [6]:
# List in python

arr = ["Ram","Shyam","Hari","Gita","Sita"]
print(arr)

# Accessing list in python

print(arr[2]) # Hari

print(arr[2:]) # ['Hari', 'Gita', 'Sita']

print(arr[:-1]) # Reverses ['Ram', 'Shyam', 'Hari', 'Gita']

# Adding list in python

print("Before list ",arr)
arr.append("Rita")
print("After list",arr)


# Removing list in python

print("Before list ",arr)
arr.remove("Sita")
print("After list",arr)

['Ram', 'Shyam', 'Hari', 'Gita', 'Sita']
Hari
['Hari', 'Gita', 'Sita']
['Ram', 'Shyam', 'Hari', 'Gita']
Before list  ['Ram', 'Shyam', 'Hari', 'Gita', 'Sita']
After list ['Ram', 'Shyam', 'Hari', 'Gita', 'Sita', 'Rita']
Before list  ['Ram', 'Shyam', 'Hari', 'Gita', 'Sita', 'Rita']
After list ['Ram', 'Shyam', 'Hari', 'Gita', 'Rita']

In [7]:
# Tuples in Python

tup = (17,18,19)
print(f"{tup} is of {type(tup)}")

# Accessing Tuple items
print(tup[1]) # 18

print(tup[-1]) #19

print(tup[1:3]) # 18 19

(17, 18, 19) is of <class 'tuple'>
18
19
(18, 19)

In [8]:
# Boolean Data type in python

print(type(True))

<class 'bool'>

In [9]:
# Set in python

s1 = set(["Ram","Shyam","Gita"])
print(type(s1))


# Accessing set items
for i in s1:
    print(i)

<class 'set'>
Ram
Gita
Shyam

In [10]:
# Dictionary in python

d = {
   "name": "Ram",
    "age": 25,
    "location": "Nepal"
}

# Accessing values
print(d["name"])
print(d.keys())
print(d.values())

Ram
dict_keys(['name', 'age', 'location'])
dict_values(['Ram', 25, 'Nepal'])

In [11]:
# Mixed Data types in dictonaries

student = {
    "Name" : "Ram",
    "Age" : 12,
    "Hobbies" : ["Cricket","Football"],
    "Education" : {
        "Bachelors" : 2018,
        "Plus Two" : 2014
    }
}


print(type(student))
print(student["Hobbies"][0])
print(student["Education"]["Plus Two"])

print("Dictionary before using del keyword")
print(student)

del student["Hobbies"]

print("Dictionary after using del keyword")
print(student)

<class 'dict'>
Cricket
2014
Dictionary before using del keyword
{'Name': 'Ram', 'Age': 12, 'Hobbies': ['Cricket', 'Football'], 'Education': {'Bachelors': 2018, 'Plus Two': 2014}}
Dictionary after using del keyword
{'Name': 'Ram', 'Age': 12, 'Education': {'Bachelors': 2018, 'Plus Two': 2014}}

### Implicit and explicit type conversion in python

In [ ]:
# Implicit type conversion  ----> Automatically performed by Python

a = 5
b = 6.96
print(type(a+b))


# Explicit type conversion -----> Manually performed
a = int("10")
print(type(a))

<class 'float'>
<class 'int'>