### Pivot Table

In [1]:
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd

In [2]:
titanic = sns.load_dataset('titanic')

In [5]:
pivot_fare = titanic.pivot_table(index='pclass',values='fare',aggfunc='mean')
print("Pivot Table- Mean Fare by a passenger class")
pivot_fare

Pivot Table- Mean Fare by a passenger class

             fare
pclass
1       84.154687
2       20.662183
3       13.675550

In [9]:
groupby_fare = titanic.groupby('pclass')['fare'].mean().reset_index()
groupby_fare

   pclass       fare
0       1  84.154687
1       2  20.662183
2       3  13.675550