# Creating a Data Structures in Pandas

### Series

In [3]:
import pandas as pd 

data = ['Ram','Shyam','Hari','Gita','Sita']

s = pd.Series([data])
print(s)

0    [Ram, Shyam, Hari, Gita, Sita]
dtype: object

In [5]:
s = pd.Series(['Ram','Shyam','Hari','Gita','Sita'],index=['a','b','c','d','e'])
print(s)

a      Ram
b    Shyam
c     Hari
d     Gita
e     Sita
dtype: object

### DataFrame

In [6]:
data = {
    "Name" : ['Ram','Shyam','Hari'],
    "Age" : [12,13,11],
    "Grade" : [7,8,7]
}

df = pd.DataFrame(data)
print(df)

    Name  Age  Grade
0    Ram   12      7
1  Shyam   13      8
2   Hari   11      7

In [12]:
data = [
    {"Name" : "Ram", "Age": 12, "Gender" : "M"},
    {"Name" : "Shyam", "Age": 12, "Gender" : "M"},
    {"Name" : "Rama", "Age": 12, "Gender" : "F"}
]

df = pd.DataFrame(data)
print(df)

    Name  Age Gender
0    Ram   12      M
1  Shyam   12      M
2   Rama   12      F

In [13]:
df = pd.DataFrame(data,index=['a','b','c'])
print(df)

    Name  Age Gender
a    Ram   12      M
b  Shyam   12      M
c   Rama   12      F

In [18]:
data = {
    "Name" : ['Ram','Shyam','Hari'],
    "Age" : [12,13,11],
    "Grade" : [7,8,7],
    "S.N." : [570,571,572]
}
df = pd.DataFrame(data,index=['a','b','c'])

df.set_index('S.N.',inplace=True)
print(df)

       Name  Age  Grade
S.N.
570     Ram   12      7
571   Shyam   13      8
572    Hari   11      7

In [20]:
df = df.reset_index()
print(df)

   index  S.N.   Name  Age  Grade
0      0   570    Ram   12      7
1      1   571  Shyam   13      8
2      2   572   Hari   11      7