### Converting data types into a different data type

In [7]:
import pandas as pd

data = {
    "id" : ['1','2','3'],
    "percentage" : ['35.67','45.87','55.98'],
    "marks" : [0,1,1]
}

df = pd.DataFrame(data)
df

  id percentage  marks
0  1      35.67      0
1  2      45.87      1
2  3      55.98      1

In [8]:
df.dtypes

id            object
percentage    object
marks          int64
dtype: object

In [11]:
df['id'] =df['id'].astype(int)

In [12]:
df['percentage'] = df['percentage'].astype(float)

In [13]:
df['marks'] = df['marks'].astype(bool)

In [14]:
df.dtypes

id              int32
percentage    float64
marks            bool
dtype: object