### Parse Strings to Dates

In [4]:
import pandas as pd

df = pd.DataFrame({
    'Date' : ['2022/07/09','2022/08/09','2022/09/09']
})

df

         Date
0  2022/07/09
1  2022/08/09
2  2022/09/09

In [5]:
df.dtypes

Date    object
dtype: object

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes

Date    datetime64[ns]
dtype: object