### Renaming Columns

In [1]:
import pandas as pd 

df = pd.DataFrame({
    'stu_id': [101, 102, 103],
    'marks': [90, 88, 94]
},index=['a', 'b', 'c'])

df

   stu_id  marks
a     101     90
b     102     88
c     103     94

In [5]:
df.rename(columns= {'stu_id' : 'student_id'},index={'a' : 'Row 1','b':'Row 2','c':'Row 3'})

       student_id  marks
Row 1         101     90
Row 2         102     88
Row 3         103     94

In [6]:
df.set_index('stu_id',inplace=True)

df

        marks
stu_id
101        90
102        88
103        94